<div class="container-fluid">
  <div class="row text-center py-5" style="background-color: #00C896;">
    <div class="col">
      <h1 class="fw-bold">Guiding You to Greater Work</h1>
      <h3>Speed up your career search</h3>
    </div>
  </div>
</div>
