<div class="container-fluid">
  <div class="row py-5 align-items-center">
    <div class="col-12 col-md d-flex flex-column justify-content-center mb-3 mb-md-0">
      <div class="mx-auto text-center text-md-start">
        <h1 class="fw-bold">Guiding You 
          <div class="word-wrap">to Greater Work</div>
        </h1>
        <h3 class="fst-italic text-body-secondary">Speed up your career search</h3>
      </div>
    </div>
    <div class="col-12 col-md text-center">
      <%= image_tag("mercury.png", class: "mercury-image") %>
    </div>
  </div>
  <hr>
  <div class="row py-5 align-items-center">
    <div class="col-12 col-md mb-3 mb-md-0">
      <div class="card">
        <h3>Job Seekers</h3>
      </div>
    </div>
    <div class="col-12 col-md mb-3 mb-md-0">
      <div class="card">
        <h3>Job Recruiters</h3>
      </div>
    </div>
  </div>
</div>
