<div class="row border p-4">
  <div class="row mb-3">
    <div class="col-2 align-self-start">
      <a><%= link_to("Back to Jobs", root_path()) %></a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="display-6">Create Job</div>
  </div>
  <div class="col-6 justify-content-center">
    <form action="POST">
      <div class="mb-3">
        <label for="job-title" class="form-label">Title</label>
        <input type="text" name="title" id="job-title" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="job-company" class="form-label">Company</label>
        <input type="text" name="company" id="job-company" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="job-location" class="form-label">Location</label>
        <input type="text" name="location" id="job-location" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="job-description" class="form-label">Description</label>
        <textarea id="job-description" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</div>
