<div class="row border p-4">
  <div class="col">
    <div class="display-6"><%= @job.title %></div>
    <div class="fs-4 mb-3"><%= @job.company %> - <%= @job.location %></div>
    <p class="lead"><%= @job.description %></p>
  </div>
  <div class="col-2 d-flex flex-column gap-3">
    <button>Apply</button>
    <button>Save</button>
    <button>Share</button>
  </div>
</div>