<div class="row mb-4 px-4 justify-content-around align-items-center">
  <div class="col">
    <h1>
      <%= link_to("Mercury Jobs", root_path(), 
                  class: "text-decoration-none text-light") %>
    </h1>
  </div>
  <div class="col">
    <button type="button" class="btn btn-link">
      <%= link_to("Create Job", new_job_path()) %>
    </button>
  </div>
</div>